<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Pictures: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold', 'application' %>
    <%= javascript_include_tag 'right', 'right-lightbox' %>
  </head>
  <body>
    <div id="body">
      <div id="head">
        <a href="/" id="logo">Right Photo Gallery</a>
        <div id="slogan">Ajaxed Photo Gallery Based On RightJS And RubyOnRails</div>
      </div>
      <div id="main">
        <%= flashes %>
        
        <%= yield %>
      </div>
      <div id="foot">Copyright (C) Nikolay V. Nemshilov aka St.</div>
    </div>
  </body>
</html>
